header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: wheat;
    height: 60px;
    gap: 20px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    


}

.logo img {
    width: 10px;
    height: fit-content;
    height: 45px;
    width: 45px;
}





.nav {

    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    height: 60px;
    gap: 30px;
}

.hero {
    background-image: url(fbacaa5fa52df90bea69f69f4646d328cb01fecf.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: aliceblue;
    text-align: center;
    padding: 0 20px;
    
}
.hero h3{ 
    color: black;
    font-family: cursive;
    font-size: 90px;
    margin-bottom: 10px;



}

.hero h4{
    color: black;
    font-size: 26px;
    font-weight: 300;

}

.about { text-align: center;
    padding: 60px 0;
    max-width: 1000px;
    margin: 0 auto;

}

.about { background-image:url(9276150be1a6a37dd656eb59783ba9186bbfceb1.jpg) ;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-bottom: 25px;
    padding: 0 20px;
    width: 1000px;
    object-fit: cover;
    
    
}

.about h3 {
   margin-bottom: 20px;
   letter-spacing: 2px;
   color: white;

}
.subtext {
    font-style: italic;
    color: #333;
    font-size: 40px;
    font-size: large;
    text-align: center;
}

.gallery { 
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px;
    padding: 40px;
}

.gallery-item{
    position: relative;
}

.gallery-item-img {
    width: 10px;
    height: 10px;
    object-fit: cover;
    border-radius: 6px;
} 
.caption { position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}




